<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/form-styles.css">
    <title>contact</title>
</head>
<body>
    <article>
        <center>
            <form action="" method="post">
                    <div class="form-container">
                    <div class="form-item-label">
                        <label>full Name</label>
                        <label>emal</label>
                        <label>mesage</label>
                    </div>
                    <div class="form-item-input">
                        <input type="text">
                        <input type="text">
                        <textarea></textarea>
                    </div>
                </div>
            </form>
            <button type="submit">Send</button>
        </center>
    </article>
</body>
</html>